node_modules/
.DS_Store
Thumbs.db
nginx-generator/confs/*
!nginx-generator/confs/example.conf
wake-proxy/dist/
wake-proxy/node_modules/
wake-proxy/tmp/
nginx-generator/dist/
nginx-generator/node_modules/
config.json
docker-wakeup.service
caddy-generator/Caddyfile
caddy-generator/caddy-stack.yml
docker-compose.override.yml
caddy-generator/dist/
caddy-generator/node_modules/
